/* Tło przycisków */
#prev {
    -fx-background-image: url("../img/previous.png");
}
#play {
    -fx-background-image: url("../img/play.png");
}
#next {
    -fx-background-image: url("../img/next.png");
}

.button,
.toggle-button {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 90% 90%;
    -fx-background-color: transparent;
    -fx-opacity: 40%;
}

/* Przyciski po najechaniu */
.button:hover,
.toggle-button:hover,
.toggle-button:selected {
    -fx-opacity: 100%;
}

.table-view {
    -fx-base: #cab7a7 ;
    -fx-background-color: #cab7a7 ;
    -fx-control-inner-background: #cab7a7 ;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-font-family: "Arial Narrow";
}

.table-row-cell:selected {
    -fx-border-color: black;
    -fx-background-color: #a28b77 ;
    -fx-table-cell-border-color: transparent;
}

